---
// import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Ayesha Gull - Computer Science student, ML researcher, and full-stack developer",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			Hello, I'm Ayesha! I'm a computer science graduate who's just passionate about everything
			programming and technology! Whether it’s developing applications, contributing to open-source
			projects, or conducting research, I’m driven by the aspiration to build solutions to the
			problems that matter.
		</p>

		<br />
		<br />

		<h1 class="title">Recent Position</h1>
		<p>
			I recently completed an AI focused Software Engineering internship at <span class="text-link"
				>Confiz</span
			> in their Global SME department. There, I built Recon AI — an AI-powered reconciliation platform
			— by integrating the Azure OpenAI GPT-4o mini model. I also developed a full-stack web app using
			Next.js and FastAPI, featuring user authentication, live analytics, and cloud-based file storage.
			My work received strong feedback from both my manager and senior engineers.
		</p>

		<br />
		<br />

		<h1 class="title">Ongoing Research</h1>
		<p>
			With the aim of enhancing Urdu OCR (Optical Character Recognition), we developed a large-scale
			synthetic Urdu text dataset with over 1.1 million word images, using systematic character
			combinations and AmarNastaliq font rendering.
		</p>
		<p class="text-link">
			“USeqNet: Large-Scale Synthetic Data and Sequential Neural Architectures for Urdu Text
			Recognition”
		</p>
		<p>
			At this stage, we are implementing and evaluating three sequential architectures:
			<ul class="list-inside list-disc">
				<li><strong>CNN-LSTM</strong></li>
				<li><strong>CNN-Attention Dual Mechanism</strong></li>
				<li><strong>CNN-Transformer</strong></li>
			</ul>
		</p>

		<br />
		<br />

		<h1 class="title">Contact</h1>
		<p>
			Want to collaborate or just chat? Feel free to reach out through any of my social links or
			drop me an <span class="cactus-link inline-block text-base"
				><a href="mailto:ayeshaiqbal2592@gmail.com" rel="noreferrer" target="_blank">email</a></span
			>!
		</p>

		<br />
		<br />
	</div>
</PageLayout>
