---
// import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Ayesha Gull - Computer Science student, ML researcher, and full-stack developer",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About Me</h1>
		<p>
			Hello, I'm Ayesha! I'm a final year undergraduate student majoring in computer science, and
			I'm just passionate about everything programming, and technology! Whether it’s developing
			applications, contributing to open-source projects, or conducting research, I’m driven by the
			aspiration to build solutions to the problems that matter.
		</p>

		<br />
		<br />

		<h1 class="title">Current Position</h1>
		<p>
			I'm currently working as a Research Assistant in the <span class="text-link"
				>Generative Intelligent Systems (GeniSys)</span
			>
			Lab at my university, where I'm involved in different research projects. My work involves conducting
			data collection and analysis, literature reviews, and implementing machine learning and deep learning
			algorithms to support ongoing projects with Dr. Khawar Khurshid.
		</p>

		<br />
		<br />

		<h1 class="title">Current Research</h1>
		<p>
			With the aim of enhancing Urdu OCR (Optical Character Recognition), we developed a large-scale
			synthetic Urdu text dataset with over 1.1 million word images, using systematic character
			combinations and AmarNastaliq font rendering.
		</p>
		<p class="text-link">
			“USeqNet: Large-Scale Synthetic Data and Sequential Neural Architectures for Urdu Text
			Recognition”
		</p>
		<p>
			At this stage, we are implementing and evaluating three sequential architectures:
			<ul class="list-inside list-disc">
				<li><strong>CNN-LSTM</strong></li>
				<li><strong>CNN-Attention Dual Mechanism</strong></li>
				<li><strong>CNN-Transformer</strong></li>
			</ul>
		</p>

		<br />
		<br />

		<h1 class="title">Current Project</h1>
		<p>
			As part of our Final Year Project, I along with my teammate are developing an AI-powered
			precision agriculture ecosystem using autonomous drones and IoT sensors to promote sustainable
			farming practices. This project aims to address inefficiencies in agriculture by introducing
			tools for crop health monitoring, irrigation optimization, and yield estimation, providing
			actionable insights for farmers.
		</p>
		<p class="text-link">“AgriSense | AI-powered Precision Agriculture ecosystem”</p>
		<p>
			We are integrating edge computing, cloud infrastructure, and object detection models (YOLOv10,
			Faster R-CNN) to enable real-time analysis and decision-making.
		</p>

		<br />
		<br />

		<h1 class="title">Contact</h1>
		<p>
			Want to collaborate or just chat? Feel free to reach out through any of my social links or
			drop me an <span class="cactus-link inline-block text-base"
				><a href="mailto:ayeshaiqbal2592@gmail.com" rel="noreferrer" target="_blank">email</a></span
			>!
		</p>

		<h1 class="title">Resume</h1>
		<p>
			You can view or download my resume <a
				href="/portfolio/resume.pdf"
				download="resume.pdf"
				target="_blank"
				rel="noopener"
				class="text-base underline">here</a
			>.
		</p>
	</div>
</PageLayout>
